.countdown {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.time-box {
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 10px;
    min-width: 60px;
    text-align: center;
    border-bottom: 2px solid var(--primary);
}

.time-box span {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary);
}

.time-box label {
    font-size: .6rem;
    text-transform: uppercase;
}